* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(187, 187, 187);
  background: -moz-linear-gradient(
    340deg,
    rgba(187, 187, 187, 1) 0%,
    rgba(236, 240, 243, 1) 50%,
    rgba(187, 187, 187, 1) 100%
  );
  background: -webkit-linear-gradient(
    340deg,
    rgba(187, 187, 187, 1) 0%,
    rgba(236, 240, 243, 1) 50%,
    rgba(187, 187, 187, 1) 100%
  );
  background: linear-gradient(
    340deg,
    rgba(187, 187, 187, 1) 0%,
    rgba(236, 240, 243, 1) 50%,
    rgba(187, 187, 187, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbbbbb",endColorstr="#bbbbbb",GradientType=1);
  font-family: sans-serif;
  min-height: 38.6em;
  background-size: cover;
}
.calc {
  width: 360px;
  height: 580px;
  background: rgb(51, 51, 51);
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 5px;
}
.output {
  display: flex;
  justify-content: center;
}
#screen {
  width: 80%;
  height: 65px;
  background: #ecf0f3;
  border: 1px solid black;
  margin-top: 55px;
  pointer-events: none;
  margin-bottom: 50px;
  border-radius: 5px;
  font-size: 28px;
}
.row {
  width: 360px;
  display: flex;
  justify-content: center;
}
.btn {
  width: 60px;
  height: 60px;
  margin: 8px 8px;
  background: rgb(109, 109, 109);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #ecf0f3;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -o-transition: all ease 0.5s;
}
.btn:hover{
  background: rgb(88, 88, 88);
  transform: scale(1.03);
}
.btn:active {
  background: rgb(90, 90, 90);
  transform: scale(0.94);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-num {
  width: 60px;
  height: 60px;
  margin: 8px 8px;
  border: 2px solid black;
  background: rgb(185, 185, 185);
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -o-transition: all ease 0.5s;
}
.btn-num:hover{
  background: rgb(160, 160, 160);
  transform: scale(1.03);
}
.btn-num:active {
  transform: scale(0.94);
  background: rgb(164, 164, 164);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-equal {
  width: 136px;
  height: 60px;
  margin: 8px 8px;
  border: 2px solid black;
  background: springgreen;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -o-transition: all ease 0.5s;
}
.btn-equal:hover{
  background: rgb(0, 182, 91);
  transform: scale(1.03);
}
.btn-equal:active {
  transform: scale(0.94);
  background: rgb(0, 191, 95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-clear {
  width: 60px;
  height: 60px;
  margin: 8px 8px;
  border: 2px solid black;
  background: red;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -o-transition: all ease 0.5s;
}

.btn-clear:hover{
  background: rgb(235, 0, 0);
  transform: scale(1.03);
}
.btn-clear:active {
  transform: scale(0.94);
  background: rgb(208, 0, 0);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 668px) {
  body{
    background-attachment: fixed;
  }
  .calc {
    width: 330px;
    height: 560px;
  }
  #screen {
    margin-bottom: 40px;
  }
  .row {
    width: 330px;
  }
  .btn,
  .btn-num,
  .btn-clear {
    width: 55px;
    height: 55px;
  }
  .btn-equal {
    width: 125px;
    height: 55px;
  }
}
